/* BAKCUP ANIM */

#container:hover {
    transform: rotate3d(10, -10, 1, 4deg) scale(1.02);
}
.logotype div:hover {
    transform: rotate(-10deg) scale(1.2);
    background-color: rgba(0, 0, 0, 0);
}
.experience:hover {
    transform: translateX(-40px) scale(1.2);
    );
    background-color: black;
    opacity: 0.8;
}
* {
    transition: all 0.8s;
}

/* FONTFACE */

@font-face {
    font-family: "Regular";
    src: url("../fonts/cgothic.ttf") format("truetype");
}
@font-face {
    font-family: "Bold";
    src: url("../fonts/cgothicbold.ttf") format("truetype");
}

/* PROB JUSTIFY */

.adresse {
    text-align: center;
}
.experience ul {
    line-height: 15px;
}

/* MAIN */

*,
html {
    background-color: black;
    text-align: justify;
    perspective: 800px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: white;
    font-family: Regular;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GENERAL */

img {
    width: 200px;
    height: 200px;
}
body {}
header {
    margin-bottom: 30px;
}
section {
    display: flex;
}
.hidetitle {
    display: none;
    transition: 2s;
    opacity: 0;
    font-size: 2rem;
    letter-spacing: 0px;
}
.hidetitle:first-child {
    margin-bottom: 20px;
}
.hidetitle em {
    text-decoration: underline;
    letter-spacing: 15px;
}

/* PERSO */

#container {
    max-width: 700px;
    margin: 6vh auto auto auto;
    transition: all 1.5s;
    animation: go 1s ease-in;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
}

/* PROFIL */

#profil {
    text-align: right;
    margin-bottom: 30px;
}
#profil h1 {
    font-size: 4.5rem;
    font-family: Bold;
}
#profil h2 {
    font-size: 4.5rem;
}
#description {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: Bold;
}

/* SECTION */

#info {
    width: 200px;
    margin-right: 40px;
}
#xp {
    width: 470px;
}

/* INFORMATION */

#informations {
    text-align: center;
    margin-bottom: 10px;
}
.birth {
    font-weight: Bold;
    font-size: 3rem;
    margin-bottom: 10px;
}
.tel {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    margin-bottom: 14px;
}
.mail {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 13px;
}
.adresse {
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    margin-bottom: 12px;
}
.adresse em {
    display: none;
}
.ville {
    letter-spacing: 3.51px;
    font-size: 1.3rem
}

/* LOGO */

.logotype {
    display: flex;
    justify-content: space-between;
}
.logotype div {
    width: 90px;
    height: 90px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* LOGOTYPE */

#ai {
    background-image: url(../img/ai.svg);
}
#ps {
    background-image: url(../img/ps.svg);
}
#id {
    background-image: url(../img/id.svg);
}
#mu {
    background-image: url(../img/mu.svg);
}
#pr {
    background-image: url(../img/pr.svg);
}
#ae {
    background-image: url(../img/ae.svg);
}
#sketchup {
    background-image: url(../img/sketchup.svg);
}
#unity {
    background-image: url(../img/unity.svg);
}
#html {
    background-image: url(../img/html.svg);
}
#css {
    background-image: url(../img/css.svg);
}
#js {
    background-image: url(../img/js.svg);
}
#jquery {
    background-image: url(../img/jquery.svg);
}

/* DECO */

#deco {
    margin-top: 20px;
    height: 80px;
    width: 100%;
    background-image: url(../img/deco.svg);
}

/* EXPERIENCE */

.experience {
    margin-bottom: 20px;
}
.experience:first-child {
    margin-top: 5px;
}
.experience ul {
    margin-left: 20px;
    font-size: 0.7rem;
}
.experience ul li {
    margin-bottom: 5px;
}
.experience ul li em {
    letter-spacing: 3px;
    font-weight: bold;
}
.xpinfo {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.xptitle {
    display: flex;
    align-items: baseline
}
.xptitle h3 {
    text-transform: uppercase;
    font-family: Bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.xptitle h4 {
    font-size: 0.7rem;
}
.xpdate {
    display: flex;
}
.xpdate p {
    font-size: 0.8rem;
}
.smalltxt {
    font-size: 0.6rem;
    font-style: italic;
}
.line {
    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    width: 100px;
}

/* FORMATION */

#timeline {
    width: calc(100%-40px);
    margin-bottom: 8vh;
    margin-top: 10px;
}
#container_timeline {
    background-image: url(../img/timeline.svg);
    background-position: center;
    background-size: 103%;
}
.top_timeline .formation:nth-child(1) {
    width: 25%;
}
.top_timeline .formation:nth-child(2) {
    width: 30%;
}
.top_timeline .formation:nth-child(3) {
    width: 53%;
}
.bottom_timeline {
    padding-left: 80px;
}
.bottom_timeline .formation {
    display: flex;
    align-items: flex-end;
}
.top_timeline .formation {
    display: flex;
    align-items: flex-start;
}
.bottom_timeline .formation:nth-child(1) {
    width: 28%;
}
.bottom_timeline .formation:nth-child(2) {
    width: 50%;
}
.bottom_timeline .formation:nth-child(3) {
    width: 17%;
}
.top_timeline,
.bottom_timeline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    height: 120px;
}
.formation {
    width: 30%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0);
}
.formation_line {
    width: 10px;
    height: 100%;
    margin-right: 5px;
    background-image: url(../img/timeline_line.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: rgba(0, 0, 0, 0);
}
.formation_line_bottom {
    width: 10px;
    height: 100%;
    margin-right: 5px;
    background-image: url(../img/timeline_line_bottom.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: rgba(0, 0, 0, 0);
}
.formation h1,
.formation h2,
.formation h3 {
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
}
.formation h1 {
    font-size: 0.8rem;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
}
.formation h2 {
    font-family: Bold;
    font-size: 0.6rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 15px;
    background-color: rgba(0, 0, 0, 0);
}
.formation h3 {
    font-size: 0.6rem;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0);
}
flexy {
    background-color: rgba(0, 0, 0, 0);
}
#timeline:hover {
    transform: rotate3d(-10, 200, 20, 2deg) scale(1.04);
}

/* MEDIA */

@media all and (max-width: 720px) {
    html {
        transform: translateY(-170px) scale(0.9);
    }
    header img {
        transform: scale(0);
    }
    #profil h1 {
        font-size: 8rem;
        font-family: Bold;
    }
    #profil h2 {
        font-size: 8rem;
    }
    #container {
        margin-top: 60px;
    }
    #profil {
        text-align: right;
        margin-right: 20px;
    }
    #informations {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
    section {
        flex-wrap: wrap;
    }
    #info {
        width: 100%;
        margin-right: 0px;
    }
    #logo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    .logotype {
        margin: 20px 10px 20px 10px;
    }
    #xp {
        width: 100%;
        padding: 20px 20px 0 20px;
    }
    .experience {
        margin-bottom: 40px;
    }
    .birth {
        font-weight: Bold;
        font-size: 3rem;
        margin-bottom: 10px;
        letter-spacing: 5px;
    }
    .tel {
        font-size: 3rem;
        margin-bottom: 14px;
    }
    .mail {
        font-weight: bold;
        font-size: 6vw;
        letter-spacing: 3px;
        margin: 0px 20px 18px 20px;
        text-decoration: underline;
    }
    .adresse {
        font-size: 1.85rem;
        letter-spacing: 3px;
        margin: 0px 40px;
        line-height: 50px;
    }
    .adresse em {
        display: inline;
    }
    .ville {
        display: none;
    }
    .experience:hover {
        transform: scale(1.05);
        background-color: rgba(0, 0, 0, 0);
    }
    .hidetitle {
        font-weight: bold;
        display: flex;
        letter-spacing: 10px;
        opacity: 1;
    }
    #timeline {
        margin: 20px;
    }
    #xptime {
        display: flex;
        flex-wrap: wrap;
    }
    #xptime div {
        width: calc(100% - 40px);
        margin-bottom: 20px;
        transform: rotate(0deg);
    }
    #xptime div h1 {
        text-align: left;
    }
    #deco {
        display: none;
    }
}
@media all and (max-width: 650px) {
    #profil h1 {
        font-size: 25vw;
        font-family: Bold;
    }
    #profil h2 {
        font-size: 25vw;
    }
    header img {
        display: none;
    }
    #profil {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }
    .line {
        display: none;
    }
    .mail {
        font-size: 6.5vw;
    }
    .tel {
        font-size: 11vw;
    }
    .adresse {
        font-size: 5vw;
    }
}
@media all and (min-width: 1200px) {
    html {
        transform: translateY(100px) scale(1.2);
    }
}

/* KEYFRAMES */

@keyframes go {
    0% {
        opacity: 0;
        transform: translateY(-2000px) scale(3) rotate(30deg);
    }
    80% {
        opacity: 0.3
    }
    100% {
        opacity: 1;
    }
}
