/* GENERAL */

* {
    transition: all 1.3s;
    color: #3f3f3f;
    overflow: hidden;
    user-select: none;
    font-family: Nunito;
}
#coucou {
    display: none;
    transform: scaleX(0);
}
html {
    filter: contrast(90%);
    filter: grayscale(80%);
}
body {
    background-color: #f9f9f9;
    perspective: 800px;
    perspective-origin: 20px 70px;
}

/* SECTION */

section {
    min-height: 100vh;
    animation: go 0.5s ease-in;
}
article {
    min-height: 700px;
    height: 90vh;
    max-height: 730px;
    min-width: 700px;
    width: 90vw;
    max-width: 1300px;
    padding: 20px;
    margin: 6vh auto 0 auto;
    border-bottom: 10px solid rgba(150, 150, 150, 0.15);
    border-right: 10px solid rgba(150, 150, 150, 0.15);
    background-color: #f4f4f4;
    border-bottom-right-radius: 30px;
    background-image: url(../img/background-image.svg);
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: right bottom;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
#intro {
    background-image: radial-gradient(#fffcfc, white);
}
#intro article {
    background-size: contain;
    background-position: center;
    background-image: url(../img/background-image-big.svg);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10vw 10vw;
}
.contain ul {
    text-align: center;
    padding: 5.5vw 0;
    animation: go2 2.5s ease-in;
}
.contain ul li {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.contain ul li em {
    font-weight: bold;
    font-style: normal;
}
.contain ul li em:hover {
    letter-spacing: 5px;
    border-bottom: 1px solid #3f3f3f;
}
#intro h1 {
    margin-top: 55px;
    width: 100%;
    font-size: 7vw;
    font-weight: bold;
    margin-bottom: 0;
    animation: go3 2s ease-in;
    text-align: right;
}
#intro h2 {
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.8;
    font-family: Mukta;
    animation: go3 2s ease-in;
    text-align: right;
}
hr {
    margin: 0;
    border-color: #3f3f3f;
}

/* CLASS PERSO */

.flexy {
    display: flex;
}
.contain:first-child {
    padding-left: 80px;
    padding-right: 20px;
    width: 50%;
}
.contain:last-child {
    padding-left: 20px;
    padding-right: 80px;
    width: 50%;
}
#intro {
    cursor: pointer;
}
.transform1 {
    transform: rotate3d(-1, 2, 10, 1deg) scale(0.95);
}
.transform2 {
    transform: rotate3d(5, 2, -20, 0.3deg) scale(0.95);
}
.title {
    display: flex;
    justify-content: space-between;
    font-family: Mukta;
}
.title h1 {
    cursor: pointer;
    font-family: Nunito;
}
.title h1:hover {
    transform: scale(1.02);
    opacity: 0.7;
    letter-spacing: 5px;
    transform-origin: left;
    background-image: url(../img/left-arrow.svg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    width: calc(100% / 2.8);
}
.title h2 {
    line-height: 3rem;
    cursor: pointer;
    background-position: right;
    text-align: right;
}
.title h2:hover {
    transform: scale(1.02);
    opacity: 0.7;
    letter-spacing: 4px;
    transform-origin: right;
    background-image: url(../img/right-arrow.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    width: calc(100% / 1.2);
}
.title p {
    margin-top: 10px;
}
.title p em {
    font-weight: bold;
    font-style: normal;
}
.main {
    margin-top: 20px;
    width: 100%;
    height: 560px;
}
.main h1 {
    font-size: 1.6rem !important;
    margin: 20px 0 0 0 !important;
}
#timeline {
    padding: 0 30px;
    background-image: url(../img/timeline.svg);
    height: 9vw;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center top;
}

/* PREPARATION JQUERY */

#historique,
#cestquoi,
#sanctions,
#casertaquoi,
#donnees,
#traitement {
    display: none;
}

/* HISTORIQUE */

.flex-texte {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0 20px;
}
.flexy-texte {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    margin-bottom: 40px;
}
.flex-texte:first-child {
    margin-top: 50px;
}
.text-image {
    width: 100px;
    height: 100px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-image: url(../img/paper.svg);
    background-position: center;
}
.text {
    text-align: center;
    width: 25%;
    line-height: 20px;
    font-size: 1rem;
}
.text-vide {
    width: 70%;
}
.text-plein {
    text-align: center;
    width: 52%;
    font-weight: bold;
}
.text-bold {
    text-align: center;
    width: 25%;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 20px;
}
.main h1 {
    font-size: 1.6rem;
    margin-top: 8vh;
    text-align: center;
}

/* C EST QUOI */

.cestquoi-flex {
    display: flex;
    justify-content: space-between;
}
.cestquoi-box {
    width: 46%;
    height: 300px;
}
.cestquoi-ou {
    width: 6%;
}
.inl h3 {
    margin-left: 15vw;
    font-size: 3.5rem;
}
.inl-d h3 {
    font-size: 3.5rem;
}
.inl-d {
    text-align: right;
    margin-right: 15vw;
}
.inl h3,
.inl h4,
.inl-d h3,
.inl-d h4 {
    display: inline;
}

/* SANCTION */


/* KEYFRAMES */

@keyframes go {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    20% {
        transform: scale(1.6);
    }
    100% {
        opacity: 1;
    }
}
@keyframes go2 {
    0% {
        opacity: 0;
        transform: scale(5);
    }
    20% {
        transform: scale(1.6);
    }
    80% {
        opacity: 0.05;
    }
    100% {
        opacity: 1;
    }
}
@keyframes go3 {
    0% {
        opacity: 0;
        transform: scale(0) translateY(-300px);
        letter-spacing: 100px;
    }
    60% {
        transform: scale(0.1);
    }
    80% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
@media all and (max-width: 1200px) {
    .title h2:hover {
        width: calc(500px);
    }
    .contain ul {
        display: none;
    }
    flexy {
        justify-content: center;
    }
    .contain:first-child {
        width: 100%;
        margin-top: 100px;
    }
    #intro h1 {
        text-align: center;
        font-size: 4.5rem;
    }
    #intro h2 {
        text-align: center;
        font-size: 2rem;
    }
}
@media all and (max-width: 700px) {
    section {
        display: none;
    }
    .transform1,
    .transform2 {
        display: none;
    }
    #coucou {
        display: flex;
        background-image: url(../img/full.svg);
        height: 100vh;
        background-position: center;
        Background-size: contain;
        background-repeat: no-repeat;
        margin-top: 10vh;
        transform: scaleX(1);
    }
}
