* {
    transition: all 1s;
    perspective: 800;
}

/*
section {
    display: flex;
    flex-wrap: wrap;
}
article {
    height: 600px;
    width: 25%;
}
#art1,
#art3 {
    background-color: #007bff;
}
#art2,
#art4 {
    background-color: white;
}
@media all and (max-width: 720px) {
    article {
        height: 500px;
        width: 100%;
    }
}*/


/* --- MMD SUPERSTAR --- */

html {
    overflow: hidden;
}
#principal {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30%;
}
#mamadou {
    width: 155px;
    height: 250px;
    background-image: url(../img/mamadou.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
#mamadou:hover {
    transform: scale(1.2);
    opacity: 0.8;
}
