/* NAV & HEADER */

header {
    padding: 40px 0;
    border-top: 1px solid grey;
}
#header-img {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center center;
}
#header-color {
    background-color: rgba(0, 0, 0, 0.8);
}
header .logo-main {
    background-image: url(../img/logo_square_white.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
}
header h1 {
    font-size: 3rem;
    margin: 0;
}
header h2 {
    font-size: 1.9rem;
    margin: 0;
}
header h1,
header h2 {
    color: white;
    text-align: center;
    font-family: "Courgette";
}
.over {
    cursor: pointer;
}
.over:hover {
    transform: scale(1.05);
}
.over:hover .hover {
    background-color: white;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    display: block;
    background-image: url(../img/logo_square_black.png);
    background-position: center 35px;
    background-size: 20%;
    background-repeat: no-repeat;
}
a {
    color: unset;
}
a:hover {
    color: unset;
    text-decoration: none;
}
.hover {
    display: none;
    opacity: 0;
}
.media {
    z-index: 100;
}
@media all and (max-width: 768px) {
    .over:hover .hover {
        height: 100%;
        width: 100%;
        display: block;
        background-image: url(../img/logo_square_black.png);
        background-position: center 26%;
        background-size: 20%;
        background-repeat: no-repeat;
        z-index: 5;
    }
    .over:hover {
        transform: scale(0.95);
    }
}
