#profil h2 {
    text-align: right;
}

/* BAKCUP ANIM */

#container:hover {
    transform: rotate3d(0, -10, 1, 4deg) scale(1.0);
}
.logotype div:hover {
    transform: rotate(-10deg) scale(1.2);
    background-color: rgba(0, 0, 0, 0);
}
.experience:hover {
    transform: translateX(-40px) scale(1.2);
    background-color: black;
    opacity: 0.9;
    box-shadow: 5px 5px 3px rgba(100, 100, 100, 0.03);
}
* {
    transition: all 0.8s;
}

/* FONTFACE */

@font-face {
    font-family: "Regular";
    src: url("../fonts/cgothic.ttf") format("truetype");
}
@font-face {
    font-family: "Bold";
    src: url("../fonts/cgothicbold.ttf") format("truetype");
}

/* PROB JUSTIFY */

.adresse {
    text-align: center;
}
.experience ul {
    line-height: 15px;
}

/* MAIN */

*,
html {
    text-align: justify;
    perspective: 800px;
}
body {
    background-color: black;
}
#container {
    padding-top: 30px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: white;
    font-family: Regular;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GENERAL */

img {
    width: 200px;
    height: 200px;
}
body {}
header {
    margin-bottom: 30px;
}
section {
    display: flex;
}
.hidetitle {
    display: none;
    transition: 2s;
    opacity: 0;
    font-size: 2rem;
    letter-spacing: 0px;
}
.hidetitle:first-child {
    margin-bottom: 20px;
}
.hidetitle em {
    text-decoration: underline;
    letter-spacing: 15px;
}

/* PERSO */

#container {
    max-width: 700px;
    margin: 6vh auto auto auto;
    transition: all 1.5s;
    animation: go 1s ease;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
}

/* PROFIL */

#profil {
    text-align: right;
    margin-bottom: 30px;
}
#profil h1 {
    font-size: 4.5rem;
    font-family: Bold;
    text-align: right;
}
#profil h2 {
    font-size: 4.5rem;
}
#description {
    font-size: 1.3rem;
    font-weight: Bold;
    width: 400px;
}
#description p {
    text-transform: uppercase;
    text-align: right;
    line-height: 30px;
}

/* SECTION */

#info {
    width: 200px;
    margin-right: 40px;
}
#xp {
    width: 470px;
}

/* INFORMATION */

#informations {
    text-align: center;
    margin-bottom: 10px;
}
.birth {
    font-weight: Bold;
    font-size: 3rem;
    margin-bottom: 10px;
}
.tel {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
    margin-bottom: 14px;
}
.mail {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 13px;
}
.adresse {
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    margin-bottom: 12px;
}
.adresse em {
    display: none;
}
.ville {
    letter-spacing: 3.51px;
    font-size: 1.3rem
}

/* LOGO */

#logo {
    margin-top: 20px;
}

.logotype {
    display: flex;
    justify-content: space-between;
}
.logotype div {
    width: 90px;
    height: 90px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* LOGOTYPE */

#ai {
    background-image: url(../img/ai.svg);
}
#ps {
    background-image: url(../img/ps.svg);
}
#id {
    background-image: url(../img/id.svg);
}
#mu {
    background-image: url(../img/mu.svg);
}
#pr {
    background-image: url(../img/pr.svg);
}
#ae {
    background-image: url(../img/ae.svg);
}
#sketchup {
    background-image: url(../img/sketchup.svg);
}
#unity {
    background-image: url(../img/unity.svg);
}
#html {
    background-image: url(../img/html.svg);
}
#css {
    background-image: url(../img/css.svg);
}
#js {
    background-image: url(../img/js.svg);
}
#jquery {
    background-image: url(../img/jquery.svg);
}
#react {
    background-image: url(../img/react.svg);
}
#redux {
    background-image: url(../img/redux.svg);
}
#mangodb {
    background-image: url(../img/mangodb.svg);
}
#nodejs {
    background-image: url(../img/nodejs.svg);
}
#php {
    background-image: url(../img/php.svg);
}
#mysql {
    background-image: url(../img/mysql.svg);
}

/* DECO */

#deco {
    margin-top: 20px;
    height: 80px;
    width: 100%;
    background-image: url(../img/deco.svg);
}

/* EXPERIENCE */

.experience {
    margin-bottom: 25px;
}
.experience:first-child {
    margin-top: 5px;
}
.experience ul {
    margin-left: 20px;
    font-size: 0.7rem;
}
.experience ul li {
    margin-bottom: 5px;
}
.experience ul li em {
    letter-spacing: 3px;
    font-weight: bold;
}
.xpinfo {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.xptitle {
    display: flex;
    align-items: baseline
}
.xptitle h3 {
    text-transform: uppercase;
    font-family: Bold;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.xptitle h4 {
    font-size: 0.7rem;
}
.xpdate {
    display: flex;
}
.xpdate p {
    font-size: 0.8rem;
}
.smalltxt {
    font-size: 0.6rem;
    font-style: italic;
}
.line {
    background-image: url(../img/line.svg);
    background-repeat: no-repeat;
    width: 100px;
}

/* FORMATION */

#timeline {
    width: calc(100%-40px);
    margin-bottom: 8vh;
    margin-top: 10px;
}
#container_timeline {
    background-image: url(../img/timeline.svg);
    background-position: center;
    background-size: 103%;
}
.top_timeline .formation:nth-child(1) {
    width: 25%;
}
.top_timeline .formation:nth-child(2) {
    width: 30%;
}
.top_timeline .formation:nth-child(3) {
    width: 53%;
}
.bottom_timeline {
    padding-left: 80px;
}
.bottom_timeline .formation {
    display: flex;
    align-items: flex-end;
}
.top_timeline .formation {
    display: flex;
    align-items: flex-start;
}
.bottom_timeline .formation:nth-child(1) {
    width: 28%;
}
.bottom_timeline .formation:nth-child(2) {
    width: 50%;
}
.bottom_timeline .formation:nth-child(3) {
    width: 17%;
}
.top_timeline,
.bottom_timeline {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    height: 120px;
}
.formation {
    width: 30%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0);
}
.formation_line {
    width: 10px;
    height: 100%;
    margin-right: 5px;
    background-image: url(../img/timeline_line.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: rgba(0, 0, 0, 0);
}
.formation_line_bottom {
    width: 10px;
    height: 100%;
    margin-right: 5px;
    background-image: url(../img/timeline_line_bottom.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: rgba(0, 0, 0, 0);
}
.formation h1,
.formation h2,
.formation h3 {
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
}
.formation h1 {
    font-size: 0.8rem;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
}
.formation h2 {
    font-family: Bold;
    font-size: 0.6rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 15px;
    background-color: rgba(0, 0, 0, 0);
}
.formation h3 {
    font-size: 0.6rem;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0);
}
flexy {
    background-color: rgba(0, 0, 0, 0);
}
#timeline:hover {
    transform: rotate3d(-10, 200, 20, 2deg) scale(1.04);
}
.formation:hover {
    transform: rotate3d(-10, 200, 20, 10deg) scale(1.04);
}

/* BOOK */

#blockus {
    width: 100%;
}
#blockus hr {
    border: 0.03rem solid white;
    margin-bottom: 20px;
    opacity: 0.85;
}
.book {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.book .boxy {
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 105px;
    width: 18%;
    background-color: unset;
    color: black;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.book .boxy:hover {
    transform: rotate3d(-10, 10, -100, 2deg) scale(1.4);
    z-index: 10;
}
.book .boxy:hover p {
    transform: rotate3d(-10, 100, 50, 10deg)translate(-5px, -2px) scaleY(1.1);
    transform-origin: bottom right;
    font-size: 1.45rem;
    z-index: 10;
    color: white;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px black;
}
.book .boxy p {
    font-size: 0.9rem;
    background-color: unset;
    color: black;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 1px;
    bottom: 5px;
    right: 7px;
    opacity: 0.85;
    font-weight: bold;
}
#weby {
    background-image: url(../img/web.svg);
}
#logoy {
    background-image: url(../img/logo.svg);
}
#othery {
    background-image: url(../img/other.svg);
}
#printy {
    background-image: url(../img/print.svg);
}
#githuby {
    background-image: url(../img/github.svg);
}
#coucouplus {
    width: 100%;
    height: 1px;
    background-color: white;
}

/* MEDIA */

@media all and (max-width: 720px) {

    .coolux {
        margin-bottom: 50px;
    }
    #timeline {
        display: none;
    }
    .book .boxy:hover p {
        transform: rotate3d(-10, 10, -100, 2deg) scale(1.4) translate(-50px, -20px);
        z-index: 10;
        font-size: 15vw;
        bottom: 20px;
        right: 20px;
    }
    html {
        transform: translateY(-170px) scale(0.9);
    }
    #description p {
        margin-bottom: 50px;
        text-align: right;
    }
    header img {
        transform: scale(0);
    }
    #profil h1 {
        font-size: 8rem;
        font-family: Bold;
    }
    #profil h2 {
        font-size: 8rem;
    }
    #container {
        margin-top: 60px;
    }
    #profil {
        text-align: right;
        margin-right: 20px;
    }
    #informations {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }
    section {
        flex-wrap: wrap;
    }
    #info {
        width: 100%;
        margin-right: 0px;
    }
    #logo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    .logotype {
        margin: 20px 5px 20px 5px;
    }
    .logotype div {
        margin-left: 10px;
        margin-right: 10px;
    }
    #xp {
        width: 100%;
        padding: 20px 20px 0 20px;
    }
    .experience {
        margin-bottom: 40px;
    }
    .birth {
        font-weight: Bold;
        font-size: 3rem;
        margin-bottom: 10px;
        letter-spacing: 5px;
    }
    .tel {
        font-size: 3rem;
        margin-bottom: 14px;
    }
    .mail {
        font-weight: bold;
        font-size: 6vw;
        letter-spacing: 3px;
        margin: 0px 20px 18px 20px;
        text-decoration: underline;
    }
    .adresse {
        font-size: 1.85rem;
        letter-spacing: 3px;
        margin: 0px 40px;
        line-height: 50px;
    }
    .adresse em {
        display: inline;
    }
    .ville {
        display: none;
    }
    .experience:hover {
        transform: scale(1.05);
        background-color: rgba(0, 0, 0, 0);
    }
    .hidetitle {
        font-weight: bold;
        display: flex;
        letter-spacing: 10px;
        opacity: 1;
    }
    #timeline {
        margin: 20px;
    }
    #xptime {
        display: flex;
        flex-wrap: wrap;
    }
    #xptime div {
        width: calc(100% - 40px);
        margin-bottom: 20px;
        transform: rotate(0deg);
    }
    #xptime div h1 {
        text-align: left;
    }
    #deco {
        display: none;
    }
    /* FORMATION */
    #separateur {
        background-color: white;
        width: 2px;
        height: 580px;
        order: 2;
        border-radius: 20px;
        margin-right: 25px;
        transform: translateY(85px);
    }
    #container_timeline {
        display: flex;
        flex-wrap: nowrap;
        background-image: url();
        height: 180px;
    }
    .top_timeline {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        height: 100%;
        order: 3;
        margin: 0;
        padding: 0;
        transform: translateY(120px);
    }
    .bottom_timeline {
        display: flex;
        flex-wrap: wrap;
        width: 54%;
        height: 100%;
        order: 1;
        margin: 0;
        padding: 0;
        transform: translateY(-40px);
    }
    .formation_line,
    .formation_line_bottom {
        display: none;
    }
    .top_timeline .formation:nth-child(1) {
        width: 100%;
        order: 3;
        height: 120%;
    }
    .top_timeline .formation:nth-child(2) {
        width: 100%;
        order: 2;
        height: 100%;
    }
    .top_timeline .formation:nth-child(3) {
        width: 100%;
        order: 1;
        height: 130%;
    }
    .bottom_timeline .formation:nth-child(1) {
        width: 100%;
        order: 3;
        padding-right: 15px;
        height: 120%;
    }
    .bottom_timeline .formation:nth-child(2) {
        width: 130%;
        order: 2;
        padding-right: 15px;
        height: 130%;
    }
    .bottom_timeline .formation:nth-child(3) {
        width: 100%;
        height: 85%;
        order: 1;
        padding-right: 15px;
    }
    .formation {
        height: 150px;
    }
    .formation:hover {
        transform: rotate3d(-10, 100, -100, 5deg) scale(1.05);
    }
    #timeline:hover {
        transform: rotate3d(-100, -50, 20, 2deg) scale(0.97);
    }
    .formation h2 {
        font-size: 1rem;
        line-height: 25px;
        margin-bottom: 0;
    }
    .formation h3 {
        margin-top: 0;
        font-size: 0.8rem;
        line-height: 20px;
    }
    .book .boxy {
        height: 333px;
        width: 100%;
        margin-bottom: 20px;
        background-size: cover;
        background-position: top;
    }
    .book .boxy:hover {
        transform: rotate3d(10, 10, -100, -2deg) scale(1.01);
        z-index: 10;
        opacity: 0.85;
    }
    .book .boxy:first-child {
        margin-top: 40px;
    }
    .book .boxy p {
        font-size: 15vw;
        bottom: 20px;
        right: 20px;
    }
    .book {
        flex-wrap: wrap;
    }
}
@media all and (max-width: 650px) {
    html {
        overflow-x: hidden;
        margin-top: -100px;
    }
    #description {
        width: auto;
    }
    #description p {
        margin-bottom: 70px;
        text-align: center;
    }
    #id {
        display: flex;
    }
    #pr,
    #mu,
    #ae {
        display: flex;
    }
    #informations {
        margin-bottom: 200px;
    }
    #profil h1 {
        font-size: 25vw;
        font-family: Bold;
    }
    #profil h2 {
        font-size: 25vw;
    }
    header img {
        display: none;
    }
    #profil {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }
    .line {
        display: none;
    }
    .mail {
        font-size: 6.5vw;
    }
    .tel {
        font-size: 11vw;
    }
    .adresse {
        font-size: 5vw;
    }
    .top_timeline .formation:nth-child(1) {
        order: 3;
        height: 120%;
    }
    #container:hover {
        transform: unset;
    }
    .top_timeline .formation:nth-child(2) {
        order: 2;
        height: 80%;
    }
    .top_timeline .formation:nth-child(3) {
        order: 1;
        height: 130%;
    }
    .bottom_timeline .formation:nth-child(1) {
        order: 3;
        padding-right: 15px;
        height: 120%;
    }
    .bottom_timeline .formation:nth-child(2) {
        order: 2;
        padding-right: 15px;
        height: 140%;
    }
    .formation h2 {
        font-size: 0.7rem;
    }
    .formation h3 {
        font-size: 0.6rem;
    }
    .logotype {
        padding: 0px 60px 0 60px;
        width: 100%;
        justify-content: space-between;
    }
    #ai,
    #ps,
    #id,
    #mu,
    #pr,
    #ae,
    #html,
    #css,
    #js,
    #react,
    #redux,
    #nodejs,
    #mangodb,
    #jquery,
    #sketchup,
    #unity,
    #php,
    #mysql {
        height: 30vw;
        width: 30vw;
    }
}
@media all and (min-width: 1200px) {
    html {
        transform: translateY(100px) scale(1.2);
        overflow-x: hidden;
    }
    #container {
        transform: translateY(20px) rotate3d(0, -20, 3, -3deg);
    }
}

/* KEYFRAMES */

@keyframes go {
    0% {
        opacity: 0;
        transform: translateY(-2000px) scale(3) rotate(30deg);
    }
    80% {
        opacity: 0.3
    }
    100% {
        opacity: 1;
    }
}
